@import "reset";
@import "font";
@import "var";

body {
  font-family: $mainFont;
  width: 100%;
  height: 100vh;
  position: relative;
  line-height: 1.4;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.heading {
  display: flex;
  background-color: $green;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $small;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: verdana;
  font-size: 0.85rem;
  .informations {
    display: flex;
    .infos {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  select {
    margin-bottom: $small;
    margin-top: 0.2rem;
    height: 30px;
    border: none;
    border-radius: 2px;
    max-width: 280px;
    background-color: $lightGrey;
    &:focus {
      outline: none;
      border: 2px solid $green;
    }
  }

  input {
    @extend select;
  }

  textarea {
    height: 180px;
    margin-top: 0.2rem;
    margin-bottom: $small;
    font-family: inherit;
    &:focus {
      outline: none;
      border: 2px solid $green;
    }
  }
}

h1 {
  font-weight: 600;
  font-size: $large;
  margin: $small;
  color: $white;
}

.sub {
  color: $white;
  margin: 0 3rem 0 1rem;
}

.success-msg {
  text-align: center;
  font-weight: 600;
  margin-bottom: $small;
  color: $green;
}
.fail-msg {
  @extend .success-msg;
  color: red;
}

.submitBtn {
  background-color: $green;
  color: $white;
  font-family: $mainFont;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 2px;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: flex-end;
  img {
    width: 80px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    #name,
    #firstname {
      margin-right: $small;
    }
  }
  .heading {
    width: 100%;
  }
  .form-container {
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .sub {
    padding-bottom: $medium;
  }
  h1 {
    padding-top: $medium;
  }
  form {
    width: 80%;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
