@import "reset";
@import "font";
@import "var";

body {
  font-family: $mainFont;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.heading {
  display: flex;
  background-color: $green;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.form-container {
  width: 50%;
  margin: $small;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  .informations {
    display: flex;
    .infos {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }

  select {
    margin-bottom: $small;
    height: 30px;
    border: none;
    border-radius: 2px;
    max-width: 280px;
    background-color: $lightGrey;
  }

  input {
    @extend select;
  }

  textarea {
    height: 180px;
    margin-bottom: $small;
  }
}

h1 {
  font-weight: 600;
  font-size: $large;
  margin: $small;
  color: $white;
}

p {
  color: $white;
  margin: 0 1rem;
}

.success-msg {
  color: $green;
}
.fail-msg {
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    #name,
    #firstname {
      margin-right: $small;
    }
  }
  .heading {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  p {
    padding-bottom: $medium;
  }
  h1 {
    padding-top: $medium;
  }
  form {
    width: 80%;
  }
}
